$primaryColor : rgba(34, 61, 125);
$secondaryColor : #DC2244;
$thirdColor : #003C00;
$fontColor : rgba(34, 61, 125);
$contentFontSize : 18px;
$breakpoints : (
  mobile : 450px,
  tablettes : 1024px,
  );


@mixin mobile-only {
  @media screen and (max-width : map-get($breakpoints, mobile)) {
    @content
  }
};


@font-face{
  font-family: 'Proxima';
  src : url(../assets/fonts/proximalight/Proxima\ Nova\ Alt\ Light.otf);
}

@mixin inputBtn {
  width: 130px;
  height: 50px;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  border-radius: 5px;
  font-size: $contentFontSize;
  box-shadow : 5px 5px 5px grey;
  color: white;
  @include mobile-only {
    width: 100%;
  }
}

@mixin block{
  display: none;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  height: 100%;
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Proxima', sans-serif;
    font-size: $contentFontSize;
}

#wrapper{
  position: absolute;
  left : 50%;
  top : 50%;
  width: 980px;
  min-height: 620px;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @include mobile-only {
    height: 100%;
    min-height: 100%;
    width: 100%;
  }
  h1{
    font-family: 'Playfair Display', serif;
  }

  #appBlock{
    width: 980px;
    height: 620px;
    border: 1px solid grey;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 5px grey;
    background-color: #FFFFFF;
    color: $primaryColor;
    position: relative;
    padding-top: 40px;
    @include mobile-only {
      width: 100%;
      height: 100%;
      min-height: 100%;
      border: none;
      border-radius: 0;
      padding-top: 0;
      box-shadow: none;
    }
    
    .logo{
      width: 140px;
      height: 140px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      left: 10px;
      top : 10px;
      @include mobile-only{
        position: relative;
      }
    }

    .selectedOption{
      font-size: 13px;
      position: absolute;
      top : 0;
      left : 20%;
      margin-top: 10px;
    }

    // CONTENT BLOC MOBILE 
    .content_block{
      @include mobile-only{
        justify-content: flex-start;
        h1{
          padding: 10% 5% 0 5%;
          font-size: 22px;
        }
        h2{
          margin: 0;
          font-size: 18px;
          text-align: center;
        }
        form{
          margin-top: 30px;
          flex-direction: column;
          width: 80%;
          align-items: center;
          position: absolute;
          top: 50%;
          left : 50%;
          transform: translate(-50%, -50%);
          height: auto;
        }
        label{
          width: 100%;
        }
        .logo{
          position: relative;
          padding-top: 70px;
          width: 100px;
          height: 100px;
        }
      }
    }

    .appHome{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      height: 100%;
      margin-bottom: 100px;
      @include mobile-only {
        margin-bottom: 0;
        justify-content: flex-start;
      }

      .appHome-main{
        display: flex;          
        align-items: center;
        justify-content: center;
        flex-direction: column;
        @include mobile-only {
          width: 90%;
          top: 50%;
          left: 50%;
          text-align: center;
          position: absolute;
          transform: translate(-50%, -50%);
        }
      }

      .appHome-title{
        animation: displayTitle 1s 1 forwards normal ease-out;
        opacity: 0;
        transform: translateX(-9999px);
        @include mobile-only {
          padding: 10% 5% 15% 5%;
          font-size: 22px;
        }
      }

      .tasteTitle{
        padding-top: 40px;
      }
      h2{
        @include mobile-only {
          font-size: 18px;
        }
      }
      .startBtn, .tasteBtn{
        width: 200px;
        height: 50px;
        color: #f1f1f1;
        border-radius: 10px;
        border: none;
        font-size: $contentFontSize;
        animation: btnAppear 500ms ease-out  1 forwards;
        cursor: pointer;
        position: relative;
        background-color: $secondaryColor;
        box-shadow : 5px 5px 5px grey;
      }
      
      p{
        display: block;
      }
    }
    .teaOrInfusion{
      @include block;
      h1{
        @include mobile-only {
            padding: 10% 5% 15% 5%;
            font-size: 22px;
        }
      }
      form{
        margin-top: 150px;
        display: flex;
        flex-direction: row;
        input{
          display: none;
        }
        @include mobile-only {
          margin-top: 0;
          flex-direction: column;
          width: 80%;
          align-items: center;
          position: absolute;
          top: 50%;
          left : 50%;
          transform: translate(-50%, -50%);
        }
        label{
          @include mobile-only {
            width: 100%;
          }
        }
        #teaChoice + ::before{
            @include inputBtn;
            content:'Thé';
            background-color: #42994E;
            margin-right : 30px;
          }
          #teaChoice:checked + ::before{
            font-weight: 600;
            transform: scale(1.2);
            }
            
          #infusionChoice + ::before{
            content:'Infusion';
            @include inputBtn;
            background-color: #F25C57;
          }
          #infusionChoice:checked + ::before{
          font-weight: 600;
          transform: scale(1.2);
          }
      }

    }
    .teaTaste{
      @include block;
      @include mobile-only{
        min-height: 100%;
        height: auto;
      }
      h1{
        @include mobile-only{
          margin: 0;
          padding: 10% 5% 0 5%;
          font-size: 22px;
        }
      }
      h2{
        margin-top: 90px;
        @include mobile-only{
          margin: 0;
          font-size: 22px;
        }
      }
      .teaTaste__button--submit{
        @include mobile-only{           
          width: 140px;
          height: 50px;
          left: 50%;
          transform: translateX(-50%)
        }
      }
      form{
        margin-top: 30px;
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(3, 160px);
        grid-template-rows: repeat(2, 50px);
        grid-column-gap: 30px;
        grid-row-gap: 30px; 
        width: 60%;
        height: 150px;
        input{
          display: none;
        }
        @include mobile-only{
          grid-template-columns: 1fr;
          grid-template-rows: repeat(6, 1fr);
          grid-column-gap: 0px;
          grid-row-gap: 0px;
          width: 80%;
          height: auto;
        }
      }


      #teaTaste__fruitty+ ::before{
        grid-area: 1 / 1 / 2 / 2;
        @include inputBtn;
        content:'Fruité';
        background-color: #B39D6F;
        @include mobile-only{
          grid-area: 1 / 1 / 2 / 2; 
        }
      }
      #teaTaste__fruitty:checked + ::before{
        font-weight: 600;
        transform: scale(1.2);
        }
      #teaTaste__spicy+ ::before{
        grid-area: 1 / 2 / 2 / 3;
        @include inputBtn;
        content:'Epicé';
        background-color: #F2843A;
        @include mobile-only{
          grid-area: 2 / 1 / 3 / 2; 
        }
      }
      #teaTaste__spicy:checked + ::before{
        font-weight: 600;
        transform: scale(1.2);
        }
      #teaTaste__floral+ ::before{
        grid-area: 1 / 3 / 2 / 4;
        @include inputBtn;
        content:'Floral / Végétal';
        background-color: #F28DDC;
        @include mobile-only{
          grid-area: 3 / 1 / 4 / 2; 
        }
      }
      #teaTaste__floral:checked + ::before{
        font-weight: 600;
        transform: scale(1.2);
        }
      #teaTaste__gourmet+ ::before{
        grid-area: 2 / 1 / 3 / 2;
        @include inputBtn;
        content:'Gourmand';
        background-color: #F25C57;
        @include mobile-only{
          grid-area: 4 / 1 / 5 / 2; 
        }
      }
      #teaTaste__gourmet:checked + ::before{
        font-weight: 600;
        transform: scale(1.2);
        }
      #teaTaste__nature+ ::before{
        grid-area: 2 / 2 / 3 / 3; 
        @include inputBtn;
        content:'Nature';
        background-color: #42994E;
        @include mobile-only{
          grid-area: 5 / 1 / 6 / 2; 
        }
      }
      #teaTaste__nature:checked + ::before{
        font-weight: 600;
        transform: scale(1.2);
        }
      #tea__all+ ::before{
        grid-area: 2 / 3 / 3 / 4;
        @include inputBtn;
        content:'Tous';
        background-color: #B3C5F2;
        @include mobile-only{
          grid-area: 6 / 1 / 7 / 2; 
        }
      }
      #tea__all:checked + ::before{
        font-weight: 600;
        transform: scale(1.2);
        }
    }
    
  }
  .teaColorChoice{
    @include block;
    h2{
      margin-top: 90px;
    }
    form{
      margin-top: 30px;
      display: grid;
      justify-content: center;
      align-items: center;
      grid-template-columns: repeat(3, 130px);
      grid-template-rows: repeat(2, 50px);
      grid-column-gap: 30px;
      grid-row-gap: 30px; 
      width: 60%;
      height: 150px;
      input{
        display: none;
      }
      @include mobile-only{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px; 
        padding-top: 45px;
      }
      #teaColorChoice__black+ ::before{
        grid-area: 1 / 1 / 2 / 2;
        @include inputBtn;
        content:'Noir';
        background-color: #313634;
        @include mobile-only{
          grid-area : 1 / 1 / 2 / 2;
        }
      }
      #teaColorChoice__black:checked + ::before{
        font-weight: 600;
        transform: scale(1.1);
        }
      #teaColorChoice__blue+ ::before{
        grid-area: 1 / 2 / 2 / 3;
        @include inputBtn;
        content:'Bleu';
        background-color: #45A0F5;
        @include mobile-only{
          grid-area: 2 / 1 / 3 / 2; 
        }
      }
      #teaColorChoice__blue:checked + ::before{
        font-weight: 600;
        transform: scale(1.1);
        }
      #teaColorChoice__white+ ::before{
        grid-area: 1 / 3 / 2 / 4;
        @include inputBtn;
        content:'Blanc';
        background-color: #f1f1f1;
        color:black;
        @include mobile-only{
          grid-area: 3 / 1 / 4 / 2; 
        }
      }
      #teaColorChoice__white:checked + ::before{
        font-weight: 600;
        transform: scale(1.1);
        }
      #teaColorChoice__puerh+ ::before{
        grid-area: 2 / 1 / 3 / 2;
        @include inputBtn;
        content:'Puerh';
        background-color: #9E5F18;
        @include mobile-only{
          grid-area: 4 / 1 / 5 / 2;
        }
      }
      #teaColorChoice__puerh:checked + ::before{
        font-weight: 600;
        transform: scale(1.1);
        }
      #teaColorChoice__green+ ::before{
        grid-area: 2 / 2 / 3 / 3;
        @include inputBtn;
        content:'Vert';
        background-color: #147533;
        @include mobile-only{
          grid-area: 5 / 1 / 6 / 2; 
        }
      }
      #teaColorChoice__green:checked + ::before{
        font-weight: 600;
        transform: scale(1.1);
        }  
      #color__all+ ::before{
        grid-area: 2 / 3 / 3 / 4;
        @include inputBtn;
        content:'Tous les thés';
        background-color: $secondaryColor;
        @include mobile-only{
          grid-area:  6 / 1 / 7 / 2; 
        }
      }
      #color__all:checked + ::before{
        font-weight: 600;
        transform: scale(1.1);
        }
    }
  }
  .infusionFamily{
    @include block;
    h2{
      margin-top: 100px;
      @include mobile-only {
        padding: 10% 5% 15% 5%;
        font-size: 22px;
      }
    }
    form{
      margin-top: 30px;
      display: flex;
      flex-direction: row;
      input{
        display: none;
      }
      #infusionFamily__infusion+ ::before{
        @include inputBtn;
        content:'Infusions';
        background-color: #F2525D;
      }
      #infusionFamily__infusion:checked + ::before{
        font-weight: 600;
        transform: scale(1.1);
        }
      #infusionFamily__rooibos+ ::before{
        @include inputBtn;
        content:'Rooïbos';
        background-color: #F5540F;
      }
      #infusionFamily__rooibos:checked + ::before{
        font-weight: 600;
        transform: scale(1.1);
        }
      #infusionFamily__wellness+ ::before{
        @include inputBtn;
        content:'Bien-être';
        background-color: #F5B36C;
      }
      #infusionFamily__wellness:checked + ::before{
        font-weight: 600;
        transform: scale(1.1);
        }
    }
  }
  .infusionTaste{
    @include block;
    h2{
      margin-top: 100px;
      @include mobile-only {
        padding: 10% 5% 15% 5%;
        font-size: 22px;
      }
    }
    form{
      margin-top: 30px;
      display: grid;
      justify-content: center;
      grid-template-columns: repeat(3, 130px);
      grid-template-rows: repeat(2, 50px);
      grid-column-gap: 30px;
      grid-row-gap: 30px; 
      width: 60%;
      height: 150px;
      input{
        display: none;
      }
      @include mobile-only{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        width: 80%;
        height: auto;
      }
      #infusionTaste__gourmet+ ::before{
        grid-area: 1 / 1 / 2 / 2;
        @include inputBtn;
        content:'Gourmand';
        background-color: #F25C57;
        @include mobile-only{
          grid-area: 1 / 1 / 2 / 2; 
        }
      }
      #infusionTaste__gourmet:checked + ::before{
        font-weight: 600;
        transform: scale(1.1);
        }
      #infusionTaste__spicy+ ::before{
        grid-area: 1 / 2 / 2 / 3;
        @include inputBtn;
        content:'Epicé';
        background-color: #F2843A;
        @include mobile-only{
          grid-area: 2 / 1 / 3 / 2; 
        }
      }
      #infusionTaste__spicy:checked + ::before{
        font-weight: 600;
        transform: scale(1.1);
        }
      #infusionTaste__floral+ ::before{
        grid-area: 1 / 3 / 2 / 4;
        @include inputBtn;
        content:'Floral';
        background-color: #F28DDC;
        @include mobile-only{
          grid-area: 3 / 1 / 4 / 2; 
        }
      }
      #infusionTaste__floral:checked + ::before{
        font-weight: 600;
        transform: scale(1.1);
        }
      #infusionTaste__fruitty+ ::before{
        grid-area: 2 / 1 / 3 / 2;
        @include inputBtn;
        content:'Fruité';
        background-color: #B39D6F;
        @include mobile-only{
          grid-area: 4 / 1 / 5 / 2; 
        }
      }
      #infusionTaste__fruitty:checked + ::before{
        font-weight: 600;
        transform: scale(1.1);
        }
      #infusionTaste__nature+ ::before{
        grid-area: 2 / 2 / 3 / 3; 
        @include inputBtn;
        content:'Nature';
        background-color: #42994E;
        @include mobile-only{
          grid-area: 5 / 1 / 6 / 2; 
        }
      }
      #infusionTaste__nature:checked + ::before{
        font-weight: 600;
        transform: scale(1.1);
        }
      #inf__all+ ::before{
        grid-area: 2 / 3 / 3 / 4; 
        @include inputBtn;
        content:'Toutes';
        background-color: #42994E;
        @include mobile-only{
          grid-area: 6 / 1 / 7 / 2; 
        }
      }
      #inf__all:checked + ::before{
        font-weight: 600;
        transform: scale(1.1);
        }
    }
  }
  .rooibosTaste{
    @include block;
    h2{
      margin-top: 100px;
    }
    form{
      margin-top: 30px;
      display: grid;
      justify-content: center;
      grid-template-columns: repeat(5, 130px);
      grid-template-rows: 70px;
      grid-column-gap: 30px;
      width: 60%;
      height: 150px;
      input{
        display: none;
      }
      @include mobile-only{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        width: 80%;
        height: auto;
      }
      #rooibosTaste__gourmet+ ::before{
        grid-area: 1 / 1 / 2 / 2;
        @include inputBtn;
        content:'Gourmand';
        background-color: #F25C57;
        @include mobile-only{
          grid-area : 1 / 1 / 2 / 2;
        }
      }
      #rooibosTaste__gourmet:checked + ::before{
        font-weight: 600;
        transform: scale(1.1);
        }
      #rooibosTaste__nature+ ::before{
        grid-area: 1 / 2 / 2 / 3;
        @include inputBtn;
        content:'Nature';
        background-color: #42994E;
        @include mobile-only{
          grid-area : 2 / 1 /3 / 2 ;
        }
      }
      #rooibosTaste__nature:checked + ::before{
        font-weight: 600;
        transform: scale(1.1);
        }
      #rooibosTaste__spicy+ ::before{
        grid-area: 1 / 2 / 2 / 4;
        @include inputBtn;
        content:'Epicé';
        background-color: #F2843A;
        @include mobile-only{
          grid-area : 3 / 1 / 4 / 2;
        }
      }
      #rooibosTaste__spicy:checked + ::before{
        font-weight: 600;
        transform: scale(1.1);
        }
      #rooibosTaste__fruitty+ ::before{
        grid-area: 1 / 3 / 2 / 5;
        @include inputBtn;
        content:'Fruité';
        background-color: #B39D6F;
        @include mobile-only{
          grid-area : 4 / 1 / 5 / 2;
        }
      }
      #rooibosTaste__fruitty:checked + ::before{
        font-weight: 600;
        transform: scale(1.1);
        }
      #roob__all+ ::before{
        grid-area: 1 / 4 / 2 / 6;
        @include inputBtn;
        content:'Tous';
        background-color: #F25C57;
        @include mobile-only{
          grid-area :  5 / 1 / 6 / 2;
        }
      }
      #roob__all:checked + ::before{
        font-weight: 600;
        transform: scale(1.1);
        }
    }
  }
  .wellnessTaste{
    @include block;
    height: 120%!important;

    h2{
      margin-top: 20px;
    }
    form{
      display: grid;
      justify-items: center;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(8, 70px); 
      grid-column-gap: 0px;
      grid-row-gap: 0px; 
      overflow-y: scroll;
      width: 60%;
      height: 50%;
      @include mobile-only{
        overflow-y: visible;
        margin-top: 80px!important;
      }
      input{
        display: none;
      }
      #wellnessTaste__breath+ ::before{
        grid-area: 1 / 1 / 2 / 2;
        @include inputBtn;
        content:'Faciliter la respiration';
        background-color: #B39D6F;
        width: 400px;
        height: 40px;
        text-align: center;
        @include mobile-only{
          width: 100%;
          height: 50px;
        }
      }
      #wellnessTaste__breath:checked + ::before{
        font-weight: 600;
        transform: scale(1.1);
        }
      #wellnessTaste__lightLegs+ ::before{
        grid-area: 2 / 1 / 3 / 2;
        @include inputBtn;
        content:'Favoriser la circulation veineuse';
        background-color: #F2843A;
        width: 400px;
        height: 40px;
        text-align: center;
        @include mobile-only{
          width: 100%;
          height: 50px;
        }
      }
      #wellnessTaste__lightLegs:checked + ::before{
        font-weight: 600;
        transform: scale(1.1);
        }
      #wellnessTaste__toSleep+ ::before{
        grid-area: 3 / 1 / 4 / 2;
        @include inputBtn;
        content:'Mieux dormir';
        background-color: #F28DDC;
        width: 400px;
        height: 40px;
        text-align: center;
        @include mobile-only{
          width: 100%;
          height: 50px;
        }
      }
      #wellnessTaste__toSleep:checked + ::before{
        font-weight: 600;
        transform: scale(1.1);
        }
      #wellnessTaste__breastfeeding+ ::before{
        grid-area: 4 / 1 / 5 / 2;
        @include inputBtn;
        content:'Faciliter la lactation';
        background-color: #F25C57;
        width: 400px;
        height: 40px;
        text-align: center;
        @include mobile-only{
          width: 100%;
          height: 50px;
        }
      }
      #wellnessTaste__breastfeeding:checked + ::before{
        font-weight: 600;
        transform: scale(1.1);
        }
      #wellnessTaste__looseWeight+ ::before{
        grid-area: 5 / 1 / 6 / 2;
        @include inputBtn;
        content:'Contrôler son poids';
        background-color: #42994E;
        width: 400px;
        height: 40px;
        text-align: center;
        @include mobile-only{
          width: 100%;
          height: 50px;
        }
      }
      #wellnessTaste__looseWeight:checked + ::before{
        font-weight: 600;
        transform: scale(1.1);
        }
      #wellnessTaste__digestive+ ::before{
        grid-area: 6 / 1 / 7 / 2;
        @include inputBtn;
        content:'Faciliter la digestion';
        background-color: #B3C5F2;
        width: 400px;
        height: 40px;
        text-align: center;
        @include mobile-only{
          width: 100%;
          height: 50px;
        }
      }
      #wellnessTaste__digestive:checked + ::before{
        font-weight: 600;
        transform: scale(1.1);
        }
      #wellnessTaste__sugarLess+ ::before{
        grid-area: 7 / 1 / 8 / 2;
        @include inputBtn;
        content:'Maitriser son taux de sucre';
        background-color: #B3C5F2;
        width: 400px;
        height: 40px;
        text-align: center;        
        @include mobile-only{
          width: 100%;
          height: 50px;
        }
      }
      #wellnessTaste__sugarLess:checked+ ::before{
        font-weight: 600;
        transform: scale(1.1);
        }
      #well__all+ ::before{
        grid-area: 8 / 1 / 9 / 2; 
        @include inputBtn;
        content:'Toutes les infusions bien-etre';
        background-color: #B3C5F2;
        width: 400px;
        height: 40px;
        text-align: center;
        @include mobile-only{
          width: 100%;
          height: 50px;
        }
      }
      #well__all:checked + ::before{
        font-weight: 600;
        transform: scale(1.1);
        }
    }
  }

  }
  .allTastes{
    @include block;
    width: 980px;
    height: 620px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 40px;
    @include mobile-only{
      margin-top: 0;
      width: auto;
      height: 100%;
    }
    #allTastesIcons{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      width: 90%;
      height: 60%;
      overflow-y: scroll;
      padding: 0 10% 0 10%;
      @include mobile-only{
        padding: 0 5% 0 5%;
        width: auto;
        height: 50%;
      }
    }
    h1{
      padding: 0 20%;
      text-align: center;
      @include mobile-only {
        padding: 10% 5% 15% 5%;
        font-size: 22px;
      }
    }
    figure{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin : 5px 10px;
      width: 100px;
      @include mobile-only{
        margin : 2px 5px;
      }
      img{
        width: 40px;
        height: 40px;
        @include mobile-only{
          width: 35px;
          height: 35px;
        }
        cursor: pointer;
        &:hover{
          transform: scale(1.1);
        }
        &:focus{
          transform: scale(1.1);
        }
      }
      figcaption{
        text-align: center;
        font-size: 16px;
        @include mobile-only{
          font-size: 14px
        }
      };
      figcaption:first-letter{
        text-transform: capitalize;
      }
    }
  }
  .app__results{
    width: 980px;
    height: 620px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 40px;
    @include mobile-only{
      margin: 0 10% 0 10%;
      height: 100%;
      width: 100%;
    }

    .result--suggestParagraph{
      padding: 12.5% 20px 0 20px;
    }

    .reloadText{
      color: $secondaryColor;
    }

    .article{
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      margin : 40px 20px 80px 20px;
      @include mobile-only{
        width: auto;
        margin : 40px 5% 40px 5%;
        flex-direction: column;
        overflow: none;
        p{
          padding: 0 5% 0 5%;
        }
  
      }

      .article-left{
        overflow: hidden;
        width: 200px;
        @include mobile-only{
          width: 150px;
        }
        .img__wrapper{
          border-radius: 5px;
          width: 200px;
          transition: all 300ms ease-out;
          @include mobile-only{
            width: 150px;
          }
          &:hover{
            transform: scale(1.1);
            
          }
        }
      }
      .article-right{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin: 10px 0 10px 20px;
        @include mobile-only{
        margin : 0;
        }
        .top{
          h4{
            font-size: 20px;
            display: block;
            margin: 0;
            @include mobile-only{
              text-align: center;
              font-size: 18px;
            }
            &::first-letter{
              text-transform: capitalize;
            }
          }
          p{
            font-size: 16px;
            width:380px;
            text-align: justify;
            display: block;
          }
        }
        .bottom{
          display: flex;
          @include mobile-only{
            width: 100%;
            justify-content: center;
          }
          .bottom-left{
            display: flex;
            flex-direction: column;
            @include mobile-only{
              width: 50%;
            }
            p{
              margin-left: 10px;
              font-size: 14px;
            }
            button {
              width: 130px;
              height: 50px;
              position: relative;
              background: linear-gradient(0deg, rgba(34, 61, 125, 0.8)  0%, rgba(34, 61, 125) 100%);
              line-height: 48px;
              padding: 0;
              border: none;
              border-radius: 5px;
              }
            button span {
              position: relative;
              display: block;
              width: 100%;
              height: 100%;
              color: #f1f1f1;
              font-size: $contentFontSize;
              font-family:'Proxima', sans-serif;
            }
            button:before,
            button:after {
              position: absolute;
              content: "";
              right: 0;
              bottom: 0;
              background: rgba(34, 61, 125);
              box-shadow:
                -7px -7px 20px 0px rgba(255,255,255,.9),
                -4px -4px 5px 0px rgba(255,255,255,.9),
                7px 7px 20px 0px rgba(0,0,0,.2),
                4px 4px 5px 0px rgba(0,0,0,.3);
              transition: all 0.3s ease;
            }
            button:before{
                height: 0%;
                width: 2px;
            }
            button:after {
              width: 0%;
              height: 2px;
            }
            button:hover{
              color: rgba(34, 61, 125);
              background: transparent;
            }
            button:hover:before {
              height: 100%;
            }
            button:hover:after {
              width: 100%;
            }
            button span:hover{
              color: rgba(34, 61, 125)
            }
            button span:before,
            button span:after {
              position: absolute;
              content: "";
              left: 0;
              top: 0;
              background: rgba(34, 61, 125);
              box-shadow:
                -7px -7px 20px 0px rgba(255,255,255,.9),
                -4px -4px 5px 0px rgba(255,255,255,.9),
                7px 7px 20px 0px rgba(0,0,0,.2),
                4px 4px 5px 0px rgba(0,0,0,.3);
              transition: all 0.3s ease;
            }
            button span:before {
              width: 2px;
              height: 0%;
            }
            button span:after {
              height: 2px;
              width: 0%;
            }
            button span:hover:before {
              height: 100%;
            }
            button span:hover:after {
              width: 100%;
            }
     
          }
          .bottom-right{
            padding-left: 20px;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            @include mobile-only{
              width: 50%;
            }
            img{
              width: 35px;
              position: relative;
            }
            .tasteLine{
              font-size: 14px;
              display: flex;
              align-items: center;
              justify-content: flex-start;
              width: 100%;
              text-transform: capitalize;
            }
              // &::after{
              //   content: '';
              //   width: 50px;
              //   height: 10px;
              //   border: 1px solid rgba(34, 61, 125);
              //   background-color: #003C00;
              //   display: block;
              // }
              // &:hover:after{
              //   width: 50px;
              // }
          }
        }
      }
    }
  }

.results--title{
  @include mobile-only{
    margin-top: 50px!important;
    padding: 0 10% 0 10%;
  }
}

.slider{
  width: 80%;
  height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-color : $fontColor; 
  scrollbar-width: thin;
  @include mobile-only{
    width: 100%;
    height: auto;
    overflow: visible;
  }
}

.progressBlock{
  display: none;
  flex-direction: row;
  position: absolute;
  top : 10px;
  left: 50%;
  transform: translateX(-50%);
  @include mobile-only{
    left: 5px;
    transform: translateX(0);
    flex-direction: column;
  }
  p{
    display: block;
    font-size: 16px;
    color : #f1f1f1;
    text-align: center;
    @include mobile-only{
      font-size: 14px;
    }

  }
  .progressBlock__Progress{
    width: 120px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap; 
    border-radius: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    @include mobile-only{
      width: 90px;
      height: 25px;
      margin : 2px;
    }
  }
  .progressBlock__title{
    color: $primaryColor;
    font-weight: 700;
    min-width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
      @include mobile-only{
        display: none;
      }
    }
}

.btnNext, .btnShowResults {
  width: 140px;
  height: 50px;
  background-color : transparent;
  border-radius: 5px;
  position: absolute;
  bottom: 2vh;
  left: 42%;
  border : none;
  background-color: #007500;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 200ms ease-out;
  @include mobile-only{       
      width: 140px;
      height: 50px;
      left: 32%;
  }
  span{
    color: white;
    align-content: center;
    font-family: 'Proxima';
    font-size: 18px;
  }
  img{
    padding-left: 10px;
    width: 35px;
  }
}
.btnNext:hover{
  transform: scale(1.1);
  @include mobile-only{
    transform: none;
  }
}

.btnPrevious {
  width: 40px;
  height: 40px;
  background-color : transparent;
  border-radius: 50%;
  position: absolute;
  bottom: 2vh;
  left: 1vw;
  border : none;
  cursor: pointer;
  font-size: 30px;
  transition: all .3s ease-out;
  &:hover{
    color: #F25C57;
  }
}

.btnReload{
  width: 100px;
  height: 100px;
  background-color : transparent;
  border-radius: 50%;
  position: absolute;
  top: 2vh;
  right: 1vw;
  border : none;
  transition : all 0.4s ease-out;
  font-size: 24px;
  cursor : pointer;
  color: #F25C57;

  .btnReload-restart{
    font-size: 12px;
    opacity: 0;
    transition : all 0.5s ease-out;
    font-style: italic;
  }
  .fa-rotate{
    animation: ReloadRotate 30s linear infinite forwards;
    transition: all 0.1s ease-out;
    &:hover{
      font-size: 30px;
    }
    &:hover + .btnReload-restart{
      opacity: 1;
    }
  }


}
.btnPrevious__ResultsPage{
  @include mobile-only{
    position : relative;
    margin-right: auto;
  }
}

.btnReload--result{
  width: 160px;
  height: 40px;
  background-color : transparent;
  border-radius: 5px;
  position: absolute;
  top: 2vh;
  right: 20px;
  border : none;
  transition : all 0.4s ease-out;
  display: flex;
  align-items: center;
  @include mobile-only{
    top: 0;
    right: 0;
  }
  p{
    color: #F25C57;
    font-size: 18px;
    display: inline-block;
  }
}

.suggestBtn{
  @include inputBtn;
  width: 250px;
  background-color: #45A0F5;
  cursor: pointer;
  border: none;
  &:hover{
    transform: scale(1.1);
  }
}


@keyframes displayTitle {

    0%{
      transform: translateX(-9999px);
      opacity: 0;
    }
    90%{
      opacity: 0;
    }
    100%{
      transform: translateX(0);
      opacity: 1;
    }
}

@keyframes ReloadRotate {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(720deg);
  }
}