@charset "UTF-8";
@font-face {
  font-family: "Proxima";
  src: url(../assets/fonts/proximalight/Proxima\ Nova\ Alt\ Light.otf);
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Proxima", sans-serif;
  font-size: 18px;
}

#wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 980px;
  min-height: 620px;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#wrapper h1 {
  font-family: "Playfair Display", serif;
}
#wrapper #appBlock {
  width: 980px;
  height: 620px;
  border: 1px solid grey;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 5px grey;
  background-color: #FFFFFF;
  color: rgb(34, 61, 125);
  position: relative;
  padding-top: 40px;
}
#wrapper #appBlock .logo {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 10px;
  top: 10px;
}
#wrapper #appBlock .selectedOption {
  font-size: 13px;
  position: absolute;
  top: 0;
  left: 20%;
  margin-top: 10px;
}
#wrapper #appBlock .appHome {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-bottom: 100px;
}
#wrapper #appBlock .appHome .tastTitle {
  padding-top: 40px;
}
#wrapper #appBlock .appHome .startBtn, #wrapper #appBlock .appHome .tasteBtn {
  width: 200px;
  height: 50px;
  color: #f1f1f1;
  border-radius: 10px;
  border: none;
  font-size: 18px;
  animation: btnAppear 500ms ease-out 1 forwards;
  cursor: pointer;
  position: relative;
  background-color: #DC2244;
}
#wrapper #appBlock .appHome p {
  display: block;
}
#wrapper #appBlock .teaOrInfusion {
  display: none;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
#wrapper #appBlock .teaOrInfusion form {
  margin-top: 150px;
  display: flex;
  flex-direction: row;
}
#wrapper #appBlock .teaOrInfusion form input {
  display: none;
}
#wrapper #appBlock .teaOrInfusion form #teaChoice + ::before {
  width: 130px;
  height: 50px;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  border-radius: 5px;
  font-size: 18px;
  box-shadow: 5px 5px 5px grey;
  color: white;
  content: "Thé";
  background-color: #42994E;
  margin-right: 30px;
}
#wrapper #appBlock .teaOrInfusion form #teaChoice:checked + ::before {
  font-weight: 600;
  transform: scale(1.2);
}
#wrapper #appBlock .teaOrInfusion form #infusionChoice + ::before {
  content: "Infusion";
  width: 130px;
  height: 50px;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  border-radius: 5px;
  font-size: 18px;
  box-shadow: 5px 5px 5px grey;
  color: white;
  background-color: #F25C57;
}
#wrapper #appBlock .teaOrInfusion form #infusionChoice:checked + ::before {
  font-weight: 600;
  transform: scale(1.2);
}
#wrapper #appBlock .teaTaste {
  display: none;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
#wrapper #appBlock .teaTaste h2 {
  margin-top: 90px;
}
#wrapper #appBlock .teaTaste form {
  margin-top: 30px;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(3, 160px);
  grid-template-rows: repeat(2, 50px);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  width: 60%;
  height: 150px;
}
#wrapper #appBlock .teaTaste form input {
  display: none;
}
#wrapper #appBlock .teaTaste form #teaTaste__fruitty + ::before {
  grid-area: 1/1/2/2;
  width: 130px;
  height: 50px;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  border-radius: 5px;
  font-size: 18px;
  box-shadow: 5px 5px 5px grey;
  color: white;
  content: "Fruitté";
  background-color: #B39D6F;
}
#wrapper #appBlock .teaTaste form #teaTaste__fruitty:checked + ::before {
  font-weight: 600;
  transform: scale(1.2);
}
#wrapper #appBlock .teaTaste form #teaTaste__spicy + ::before {
  grid-area: 1/2/2/3;
  width: 130px;
  height: 50px;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  border-radius: 5px;
  font-size: 18px;
  box-shadow: 5px 5px 5px grey;
  color: white;
  content: "Epicé";
  background-color: #F2843A;
}
#wrapper #appBlock .teaTaste form #teaTaste__spicy:checked + ::before {
  font-weight: 600;
  transform: scale(1.2);
}
#wrapper #appBlock .teaTaste form #teaTaste__floral + ::before {
  grid-area: 1/3/2/4;
  width: 130px;
  height: 50px;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  border-radius: 5px;
  font-size: 18px;
  box-shadow: 5px 5px 5px grey;
  color: white;
  content: "Florale / Végétale";
  background-color: #F28DDC;
}
#wrapper #appBlock .teaTaste form #teaTaste__floral:checked + ::before {
  font-weight: 600;
  transform: scale(1.2);
}
#wrapper #appBlock .teaTaste form #teaTaste__gourmet + ::before {
  grid-area: 2/1/3/2;
  width: 130px;
  height: 50px;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  border-radius: 5px;
  font-size: 18px;
  box-shadow: 5px 5px 5px grey;
  color: white;
  content: "Gourmand";
  background-color: #F25C57;
}
#wrapper #appBlock .teaTaste form #teaTaste__gourmet:checked + ::before {
  font-weight: 600;
  transform: scale(1.2);
}
#wrapper #appBlock .teaTaste form #teaTaste__nature + ::before {
  grid-area: 2/2/3/3;
  width: 130px;
  height: 50px;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  border-radius: 5px;
  font-size: 18px;
  box-shadow: 5px 5px 5px grey;
  color: white;
  content: "Nature";
  background-color: #42994E;
}
#wrapper #appBlock .teaTaste form #teaTaste__nature:checked + ::before {
  font-weight: 600;
  transform: scale(1.2);
}
#wrapper #appBlock .teaTaste form #tea__all + ::before {
  grid-area: 2/3/3/4;
  width: 130px;
  height: 50px;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  border-radius: 5px;
  font-size: 18px;
  box-shadow: 5px 5px 5px grey;
  color: white;
  content: "Tous";
  background-color: #B3C5F2;
}
#wrapper #appBlock .teaTaste form #tea__all:checked + ::before {
  font-weight: 600;
  transform: scale(1.2);
}
#wrapper #appBlock .teaColorChoice {
  display: none;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
#wrapper #appBlock .teaColorChoice h2 {
  margin-top: 90px;
}
#wrapper #appBlock .teaColorChoice form {
  margin-top: 30px;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(3, 130px);
  grid-template-rows: repeat(2, 50px);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  width: 60%;
  height: 150px;
}
#wrapper #appBlock .teaColorChoice form input {
  display: none;
}
#wrapper #appBlock .teaColorChoice form #teaColorChoice__black + ::before {
  grid-area: 1/1/2/2;
  width: 130px;
  height: 50px;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  border-radius: 5px;
  font-size: 18px;
  box-shadow: 5px 5px 5px grey;
  color: white;
  content: "Noir";
  background-color: #313634;
}
#wrapper #appBlock .teaColorChoice form #teaColorChoice__black:checked + ::before {
  font-weight: 600;
  transform: scale(1.1);
}
#wrapper #appBlock .teaColorChoice form #teaColorChoice__blue + ::before {
  grid-area: 1/2/2/3;
  width: 130px;
  height: 50px;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  border-radius: 5px;
  font-size: 18px;
  box-shadow: 5px 5px 5px grey;
  color: white;
  content: "Bleu";
  background-color: #45A0F5;
}
#wrapper #appBlock .teaColorChoice form #teaColorChoice__blue:checked + ::before {
  font-weight: 600;
  transform: scale(1.1);
}
#wrapper #appBlock .teaColorChoice form #teaColorChoice__white + ::before {
  grid-area: 1/3/2/4;
  width: 130px;
  height: 50px;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  border-radius: 5px;
  font-size: 18px;
  box-shadow: 5px 5px 5px grey;
  color: white;
  content: "Blanc";
  background-color: #f1f1f1;
  color: black;
}
#wrapper #appBlock .teaColorChoice form #teaColorChoice__white:checked + ::before {
  font-weight: 600;
  transform: scale(1.1);
}
#wrapper #appBlock .teaColorChoice form #teaColorChoice__puerh + ::before {
  grid-area: 2/1/3/2;
  width: 130px;
  height: 50px;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  border-radius: 5px;
  font-size: 18px;
  box-shadow: 5px 5px 5px grey;
  color: white;
  content: "Puerh";
  background-color: #9E5F18;
}
#wrapper #appBlock .teaColorChoice form #teaColorChoice__puerh:checked + ::before {
  font-weight: 600;
  transform: scale(1.1);
}
#wrapper #appBlock .teaColorChoice form #teaColorChoice__green + ::before {
  grid-area: 2/2/3/3;
  width: 130px;
  height: 50px;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  border-radius: 5px;
  font-size: 18px;
  box-shadow: 5px 5px 5px grey;
  color: white;
  content: "Vert";
  background-color: #147533;
}
#wrapper #appBlock .teaColorChoice form #teaColorChoice__green:checked + ::before {
  font-weight: 600;
  transform: scale(1.1);
}
#wrapper #appBlock .teaColorChoice form #color__all + ::before {
  grid-area: 2/3/3/4;
  width: 130px;
  height: 50px;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  border-radius: 5px;
  font-size: 18px;
  box-shadow: 5px 5px 5px grey;
  color: white;
  content: "Tous les thés";
  background-color: #DC2244;
}
#wrapper #appBlock .teaColorChoice form #color__all:checked + ::before {
  font-weight: 600;
  transform: scale(1.1);
}
#wrapper #appBlock .infusionFamily {
  display: none;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
#wrapper #appBlock .infusionFamily h2 {
  margin-top: 100px;
}
#wrapper #appBlock .infusionFamily form {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
}
#wrapper #appBlock .infusionFamily form input {
  display: none;
}
#wrapper #appBlock .infusionFamily form #infusionFamily__infusion + ::before {
  width: 130px;
  height: 50px;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  border-radius: 5px;
  font-size: 18px;
  box-shadow: 5px 5px 5px grey;
  color: white;
  content: "Infusions";
  background-color: #F2525D;
}
#wrapper #appBlock .infusionFamily form #infusionFamily__infusion:checked + ::before {
  font-weight: 600;
  transform: scale(1.1);
}
#wrapper #appBlock .infusionFamily form #infusionFamily__rooibos + ::before {
  width: 130px;
  height: 50px;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  border-radius: 5px;
  font-size: 18px;
  box-shadow: 5px 5px 5px grey;
  color: white;
  content: "Rooibos";
  background-color: #F5540F;
}
#wrapper #appBlock .infusionFamily form #infusionFamily__rooibos:checked + ::before {
  font-weight: 600;
  transform: scale(1.1);
}
#wrapper #appBlock .infusionFamily form #infusionFamily__wellness + ::before {
  width: 130px;
  height: 50px;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  border-radius: 5px;
  font-size: 18px;
  box-shadow: 5px 5px 5px grey;
  color: white;
  content: "Bien-être";
  background-color: #F5B36C;
}
#wrapper #appBlock .infusionFamily form #infusionFamily__wellness:checked + ::before {
  font-weight: 600;
  transform: scale(1.1);
}
#wrapper #appBlock .infusionTaste {
  display: none;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
#wrapper #appBlock .infusionTaste h2 {
  margin-top: 100px;
}
#wrapper #appBlock .infusionTaste form {
  margin-top: 30px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 130px);
  grid-template-rows: repeat(2, 50px);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  width: 60%;
  height: 150px;
}
#wrapper #appBlock .infusionTaste form input {
  display: none;
}
#wrapper #appBlock .infusionTaste form #infusionTaste__gourmet + ::before {
  grid-area: 1/1/2/2;
  width: 130px;
  height: 50px;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  border-radius: 5px;
  font-size: 18px;
  box-shadow: 5px 5px 5px grey;
  color: white;
  content: "Gourmand";
  background-color: #F25C57;
}
#wrapper #appBlock .infusionTaste form #infusionTaste__gourmet:checked + ::before {
  font-weight: 600;
  transform: scale(1.1);
}
#wrapper #appBlock .infusionTaste form #infusionTaste__spicy + ::before {
  grid-area: 1/2/2/3;
  width: 130px;
  height: 50px;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  border-radius: 5px;
  font-size: 18px;
  box-shadow: 5px 5px 5px grey;
  color: white;
  content: "Epicé";
  background-color: #F2843A;
}
#wrapper #appBlock .infusionTaste form #infusionTaste__spicy:checked + ::before {
  font-weight: 600;
  transform: scale(1.1);
}
#wrapper #appBlock .infusionTaste form #infusionTaste__floral + ::before {
  grid-area: 1/3/2/4;
  width: 130px;
  height: 50px;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  border-radius: 5px;
  font-size: 18px;
  box-shadow: 5px 5px 5px grey;
  color: white;
  content: "Florale";
  background-color: #F28DDC;
}
#wrapper #appBlock .infusionTaste form #infusionTaste__floral:checked + ::before {
  font-weight: 600;
  transform: scale(1.1);
}
#wrapper #appBlock .infusionTaste form #infusionTaste__fruitty + ::before {
  grid-area: 2/1/3/2;
  width: 130px;
  height: 50px;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  border-radius: 5px;
  font-size: 18px;
  box-shadow: 5px 5px 5px grey;
  color: white;
  content: "Fruitté";
  background-color: #B39D6F;
}
#wrapper #appBlock .infusionTaste form #infusionTaste__fruitty:checked + ::before {
  font-weight: 600;
  transform: scale(1.1);
}
#wrapper #appBlock .infusionTaste form #infusionTaste__nature + ::before {
  grid-area: 2/2/3/3;
  width: 130px;
  height: 50px;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  border-radius: 5px;
  font-size: 18px;
  box-shadow: 5px 5px 5px grey;
  color: white;
  content: "Nature";
  background-color: #42994E;
}
#wrapper #appBlock .infusionTaste form #infusionTaste__nature:checked + ::before {
  font-weight: 600;
  transform: scale(1.1);
}
#wrapper #appBlock .infusionTaste form #inf__all + ::before {
  grid-area: 2/3/3/4;
  width: 130px;
  height: 50px;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  border-radius: 5px;
  font-size: 18px;
  box-shadow: 5px 5px 5px grey;
  color: white;
  content: "Toutes";
  background-color: #42994E;
}
#wrapper #appBlock .infusionTaste form #inf__all:checked + ::before {
  font-weight: 600;
  transform: scale(1.1);
}
#wrapper #appBlock .rooibosTaste {
  display: none;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
#wrapper #appBlock .rooibosTaste h2 {
  margin-top: 100px;
}
#wrapper #appBlock .rooibosTaste form {
  margin-top: 30px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(5, 130px);
  grid-template-rows: 70px;
  grid-column-gap: 30px;
  width: 60%;
  height: 150px;
}
#wrapper #appBlock .rooibosTaste form input {
  display: none;
}
#wrapper #appBlock .rooibosTaste form #rooibosTaste__gourmet + ::before {
  grid-area: 1/1/2/2;
  width: 130px;
  height: 50px;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  border-radius: 5px;
  font-size: 18px;
  box-shadow: 5px 5px 5px grey;
  color: white;
  content: "Gourmand";
  background-color: #F25C57;
}
#wrapper #appBlock .rooibosTaste form #rooibosTaste__gourmet:checked + ::before {
  font-weight: 600;
  transform: scale(1.1);
}
#wrapper #appBlock .rooibosTaste form #rooibosTaste__nature + ::before {
  grid-area: 1/2/2/3;
  width: 130px;
  height: 50px;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  border-radius: 5px;
  font-size: 18px;
  box-shadow: 5px 5px 5px grey;
  color: white;
  content: "Nature";
  background-color: #42994E;
}
#wrapper #appBlock .rooibosTaste form #rooibosTaste__nature:checked + ::before {
  font-weight: 600;
  transform: scale(1.1);
}
#wrapper #appBlock .rooibosTaste form #rooibosTaste__spicy + ::before {
  grid-area: 1/2/2/4;
  width: 130px;
  height: 50px;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  border-radius: 5px;
  font-size: 18px;
  box-shadow: 5px 5px 5px grey;
  color: white;
  content: "Epicé";
  background-color: #F2843A;
}
#wrapper #appBlock .rooibosTaste form #rooibosTaste__spicy:checked + ::before {
  font-weight: 600;
  transform: scale(1.1);
}
#wrapper #appBlock .rooibosTaste form #rooibosTaste__fruitty + ::before {
  grid-area: 1/3/2/5;
  width: 130px;
  height: 50px;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  border-radius: 5px;
  font-size: 18px;
  box-shadow: 5px 5px 5px grey;
  color: white;
  content: "Fruitté";
  background-color: #B39D6F;
}
#wrapper #appBlock .rooibosTaste form #rooibosTaste__fruitty:checked + ::before {
  font-weight: 600;
  transform: scale(1.1);
}
#wrapper #appBlock .rooibosTaste form #roob__all + ::before {
  grid-area: 1/4/2/6;
  width: 130px;
  height: 50px;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  border-radius: 5px;
  font-size: 18px;
  box-shadow: 5px 5px 5px grey;
  color: white;
  content: "Tous";
  background-color: #F25C57;
}
#wrapper #appBlock .rooibosTaste form #roob__all:checked + ::before {
  font-weight: 600;
  transform: scale(1.1);
}
#wrapper #appBlock .wellnessTaste {
  display: none;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
#wrapper #appBlock .wellnessTaste h2 {
  margin-top: 20px;
}
#wrapper #appBlock .wellnessTaste form {
  padding-top: 30px;
  display: grid;
  justify-content: center;
  align-items: center;
  align-content: center;
  grid-template-columns: repeat(3, 130px);
  grid-template-rows: repeat(3, 70px);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  width: 60%;
  height: auto;
}
#wrapper #appBlock .wellnessTaste form input {
  display: none;
}
#wrapper #appBlock .wellnessTaste form #wellnessTaste__breath + ::before {
  grid-area: 1/1/2/2;
  width: 130px;
  height: 50px;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  border-radius: 5px;
  font-size: 18px;
  box-shadow: 5px 5px 5px grey;
  color: white;
  content: "Respirer";
  background-color: #B39D6F;
  height: 70px;
  text-align: center;
}
#wrapper #appBlock .wellnessTaste form #wellnessTaste__breath:checked + ::before {
  font-weight: 600;
  transform: scale(1.1);
}
#wrapper #appBlock .wellnessTaste form #wellnessTaste__lightLegs + ::before {
  grid-area: 1/2/2/3;
  width: 130px;
  height: 50px;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  border-radius: 5px;
  font-size: 18px;
  box-shadow: 5px 5px 5px grey;
  color: white;
  content: "Jambes légères";
  background-color: #F2843A;
  height: 70px;
  text-align: center;
}
#wrapper #appBlock .wellnessTaste form #wellnessTaste__lightLegs:checked + ::before {
  font-weight: 600;
  transform: scale(1.1);
}
#wrapper #appBlock .wellnessTaste form #wellnessTaste__toSleep + ::before {
  grid-area: 1/3/2/4;
  width: 130px;
  height: 50px;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  border-radius: 5px;
  font-size: 18px;
  box-shadow: 5px 5px 5px grey;
  color: white;
  content: "Pour dormir";
  background-color: #F28DDC;
  height: 70px;
  text-align: center;
}
#wrapper #appBlock .wellnessTaste form #wellnessTaste__toSleep:checked + ::before {
  font-weight: 600;
  transform: scale(1.1);
}
#wrapper #appBlock .wellnessTaste form #wellnessTaste__breastfeeding + ::before {
  grid-area: 2/1/3/2;
  width: 130px;
  height: 50px;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  border-radius: 5px;
  font-size: 18px;
  box-shadow: 5px 5px 5px grey;
  color: white;
  content: "Alaitement";
  background-color: #F25C57;
  height: 70px;
  text-align: center;
}
#wrapper #appBlock .wellnessTaste form #wellnessTaste__breastfeeding:checked + ::before {
  font-weight: 600;
  transform: scale(1.1);
}
#wrapper #appBlock .wellnessTaste form #wellnessTaste__looseWeight + ::before {
  grid-area: 2/2/3/3;
  width: 130px;
  height: 50px;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  border-radius: 5px;
  font-size: 18px;
  box-shadow: 5px 5px 5px grey;
  color: white;
  content: "Perte de poids";
  background-color: #42994E;
  height: 70px;
  text-align: center;
}
#wrapper #appBlock .wellnessTaste form #wellnessTaste__looseWeight:checked + ::before {
  font-weight: 600;
  transform: scale(1.1);
}
#wrapper #appBlock .wellnessTaste form #wellnessTaste__digestive + ::before {
  grid-area: 2/3/3/4;
  width: 130px;
  height: 50px;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  border-radius: 5px;
  font-size: 18px;
  box-shadow: 5px 5px 5px grey;
  color: white;
  content: "Digestif";
  background-color: #B3C5F2;
  height: 70px;
  text-align: center;
}
#wrapper #appBlock .wellnessTaste form #wellnessTaste__digestive:checked + ::before {
  font-weight: 600;
  transform: scale(1.1);
}
#wrapper #appBlock .wellnessTaste form #well__all + ::before {
  grid-area: 3/1/4/4;
  width: 130px;
  height: 50px;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  border-radius: 5px;
  font-size: 18px;
  box-shadow: 5px 5px 5px grey;
  color: white;
  content: "Toutes les infusions bien-etre";
  background-color: #B3C5F2;
  width: 400px;
  height: 70px;
  text-align: center;
}
#wrapper #appBlock .wellnessTaste form #well__all:checked + ::before {
  font-weight: 600;
  transform: scale(1.1);
}
#wrapper .allTastes {
  display: none;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  height: 100%;
  width: 980px;
  height: 620px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 40px;
}
#wrapper .allTastes #allTastesIcons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 60%;
  overflow-y: scroll;
  padding: 0 10% 0 10%;
}
#wrapper .allTastes h1 {
  padding: 0 20%;
  text-align: center;
}
#wrapper .allTastes figure {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 5px 10px;
}
#wrapper .allTastes figure img {
  width: 40px;
  height: 40px;
  cursor: pointer;
}
#wrapper .allTastes figure img:hover {
  transform: scale(1.1);
}
#wrapper .allTastes figure img:focus {
  transform: scale(1.1);
}
#wrapper .allTastes figure figcaption {
  text-align: center;
  font-size: 16px;
  text-transform: capitalize;
}
#wrapper .app__results {
  width: 980px;
  height: 620px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 40px;
}
#wrapper .app__results .reloadText {
  color: #DC2244;
}
#wrapper .app__results .article {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 40px 20px 80px 20px;
}
#wrapper .app__results .article .article-left {
  overflow: hidden;
  width: 200px;
}
#wrapper .app__results .article .article-left img {
  border-radius: 5px;
  width: 200px;
  transition: all 300ms ease-out;
}
#wrapper .app__results .article .article-left img:hover {
  transform: scale(1.1);
}
#wrapper .app__results .article .article-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 10px 0 10px 20px;
}
#wrapper .app__results .article .article-right .top h4 {
  font-size: 20px;
  text-transform: capitalize;
  display: block;
  margin: 0;
}
#wrapper .app__results .article .article-right .top p {
  font-size: 16px;
  width: 380px;
  text-align: justify;
  display: block;
}
#wrapper .app__results .article .article-right .bottom {
  display: flex;
}
#wrapper .app__results .article .article-right .bottom .bottom-left {
  display: flex;
  flex-direction: column;
}
#wrapper .app__results .article .article-right .bottom .bottom-left p {
  margin-left: 10px;
  font-size: 14px;
}
#wrapper .app__results .article .article-right .bottom .bottom-left button {
  width: 130px;
  height: 50px;
  position: relative;
  background: linear-gradient(0deg, rgba(34, 61, 125, 0.8) 0%, rgb(34, 61, 125) 100%);
  line-height: 48px;
  padding: 0;
  border: none;
  border-radius: 5px;
}
#wrapper .app__results .article .article-right .bottom .bottom-left button span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  color: #f1f1f1;
  font-size: 18px;
  font-family: "Proxima", sans-serif;
}
#wrapper .app__results .article .article-right .bottom .bottom-left button:before,
#wrapper .app__results .article .article-right .bottom .bottom-left button:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  background: rgb(34, 61, 125);
  box-shadow: -7px -7px 20px 0px rgba(255, 255, 255, 0.9), -4px -4px 5px 0px rgba(255, 255, 255, 0.9), 7px 7px 20px 0px rgba(0, 0, 0, 0.2), 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}
#wrapper .app__results .article .article-right .bottom .bottom-left button:before {
  height: 0%;
  width: 2px;
}
#wrapper .app__results .article .article-right .bottom .bottom-left button:after {
  width: 0%;
  height: 2px;
}
#wrapper .app__results .article .article-right .bottom .bottom-left button:hover {
  color: rgb(34, 61, 125);
  background: transparent;
}
#wrapper .app__results .article .article-right .bottom .bottom-left button:hover:before {
  height: 100%;
}
#wrapper .app__results .article .article-right .bottom .bottom-left button:hover:after {
  width: 100%;
}
#wrapper .app__results .article .article-right .bottom .bottom-left button span:hover {
  color: rgb(34, 61, 125);
}
#wrapper .app__results .article .article-right .bottom .bottom-left button span:before,
#wrapper .app__results .article .article-right .bottom .bottom-left button span:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background: rgb(34, 61, 125);
  box-shadow: -7px -7px 20px 0px rgba(255, 255, 255, 0.9), -4px -4px 5px 0px rgba(255, 255, 255, 0.9), 7px 7px 20px 0px rgba(0, 0, 0, 0.2), 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}
#wrapper .app__results .article .article-right .bottom .bottom-left button span:before {
  width: 2px;
  height: 0%;
}
#wrapper .app__results .article .article-right .bottom .bottom-left button span:after {
  height: 2px;
  width: 0%;
}
#wrapper .app__results .article .article-right .bottom .bottom-left button span:hover:before {
  height: 100%;
}
#wrapper .app__results .article .article-right .bottom .bottom-left button span:hover:after {
  width: 100%;
}
#wrapper .app__results .article .article-right .bottom .bottom-right {
  padding-left: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#wrapper .app__results .article .article-right .bottom .bottom-right img {
  width: 35px;
  position: relative;
}
#wrapper .app__results .article .article-right .bottom .bottom-right .tasteLine {
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  text-transform: capitalize;
}

.slider {
  width: 80%;
  height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-color: rgb(34, 61, 125);
  scrollbar-width: thin;
}

.progressBlock {
  display: none;
  flex-direction: row;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}
.progressBlock p {
  display: block;
  font-size: 16px;
  color: #f1f1f1;
  text-align: center;
}
.progressBlock .progressBlock__Progress {
  min-width: 120px;
  width: auto;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.progressBlock .progressBlock__title {
  color: rgb(34, 61, 125);
  font-weight: 700;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnNext, .btnShowResults {
  width: 140px;
  height: 50px;
  background-color: transparent;
  border-radius: 5px;
  position: absolute;
  bottom: 2vh;
  left: 42%;
  border: none;
  background-color: #007500;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 200ms ease-out;
}
.btnNext span, .btnShowResults span {
  color: white;
  align-content: center;
  font-family: "Proxima";
  font-size: 18px;
}
.btnNext img, .btnShowResults img {
  padding-left: 10px;
  width: 35px;
}

.btnNext:hover {
  transform: scale(1.1);
}

.btnPrevious {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border-radius: 50%;
  position: absolute;
  bottom: 2vh;
  left: 1vw;
  border: none;
}
.btnPrevious img {
  margin-top: 5px;
  margin-left: -5px;
  width: 30px;
}

.btnPrevious:hover {
  transition: 200ms;
  transform: scale(1.5);
  background-color: #DC2244;
}

.btnReload {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border-radius: 50%;
  position: absolute;
  top: 2vh;
  right: 1vw;
  border: none;
  transition: all 0.4s ease-out;
}
.btnReload img {
  margin-right: 10px;
  width: 30px;
}

.btnReload:hover {
  transform: scale(1.1);
}

.btnReload--result {
  width: 160px;
  height: 40px;
  background-color: transparent;
  border-radius: 5px;
  position: absolute;
  top: 2vh;
  right: 20px;
  border: none;
  transition: all 0.4s ease-out;
  display: flex;
  align-items: center;
}
.btnReload--result p {
  color: #F25C57;
  font-size: 18px;
  display: inline-block;
}

@keyframes btnAnim {}/*# sourceMappingURL=style.css.map */