$primaryColor : rgba(34, 61, 125);
$secondaryColor : #DC2244;
$thirdColor : #003C00;
$fontColor : rgba(34, 61, 125);
$contentFontSize : 18px;

// input color 


@font-face{
  font-family: 'Proxima';
  src : url(../assets/fonts/proximalight/Proxima\ Nova\ Alt\ Light.otf);
}

@mixin inputBtn {
  width: 130px;
  height: 50px;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  border-radius: 5px;
  font-size: $contentFontSize;
  box-shadow : 5px 5px 5px grey;
  color: white;
}

@mixin block{
  display: none;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  height: 100%;
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Proxima', sans-serif;
    font-size: $contentFontSize;
}

#wrapper{
  position: absolute;
  left : 50%;
  top : 50%;
  width: 980px;
  min-height: 620px;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1{
    font-family: 'Playfair Display', serif;
  }

  #appBlock{
    width: 980px;
    height: 620px;
    border: 1px solid grey;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 5px grey;
    background-color: #FFFFFF;
    color: $primaryColor;
    position: relative;
    padding-top: 40px;
    
    .logo{
      width: 140px;
      height: 140px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      left: 10px;
      top : 10px;
      
    }

    .selectedOption{
      font-size: 13px;
      position: absolute;
      top : 0;
      left : 20%;
      margin-top: 10px;
    }

    .appHome{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      height: 100%;
      margin-bottom: 100px;

      .tastTitle{
        padding-top: 40px;
      }
      .startBtn, .tasteBtn{
        width: 200px;
        height: 50px;
        color: #f1f1f1;
        border-radius: 10px;
        border: none;
        font-size: $contentFontSize;
        animation: btnAppear 500ms ease-out  1 forwards;
        cursor: pointer;
        position: relative;
        background-color: $secondaryColor;
      }
      
      p{
        display: block;
      }
    }
    .teaOrInfusion{
      @include block;

      form{
        margin-top: 150px;
        display: flex;
        flex-direction: row;
        input{
          display: none;
        }
        #teaChoice + ::before{
            @include inputBtn;
            content:'Thé';
            background-color: #42994E;
            margin-right : 30px;
          }
          #teaChoice:checked + ::before{
            font-weight: 600;
            transform: scale(1.2);
            }
            
          #infusionChoice + ::before{
            content:'Infusion';
            @include inputBtn;
            background-color: #F25C57;
          }
          #infusionChoice:checked + ::before{
          font-weight: 600;
          transform: scale(1.2);
          }
      }

    }
    .teaTaste{
      @include block;
      h2{
        margin-top: 90px;
      }
      form{
        margin-top: 30px;
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(3, 160px);
        grid-template-rows: repeat(2, 50px);
        grid-column-gap: 30px;
        grid-row-gap: 30px; 
        width: 60%;
        height: 150px;
        input{
          display: none;
        }
      #teaTaste__fruitty+ ::before{
        grid-area: 1 / 1 / 2 / 2;
        @include inputBtn;
        content:'Fruitté';
        background-color: #B39D6F;
      }
      #teaTaste__fruitty:checked + ::before{
        font-weight: 600;
        transform: scale(1.2);
        }
      #teaTaste__spicy+ ::before{
        grid-area: 1 / 2 / 2 / 3;
        @include inputBtn;
        content:'Epicé';
        background-color: #F2843A;
      }
      #teaTaste__spicy:checked + ::before{
        font-weight: 600;
        transform: scale(1.2);
        }
      #teaTaste__floral+ ::before{
        grid-area: 1 / 3 / 2 / 4;
        @include inputBtn;
        content:'Florale / Végétale';
        background-color: #F28DDC;
      }
      #teaTaste__floral:checked + ::before{
        font-weight: 600;
        transform: scale(1.2);
        }
      #teaTaste__gourmet+ ::before{
        grid-area: 2 / 1 / 3 / 2;
        @include inputBtn;
        content:'Gourmand';
        background-color: #F25C57;
      }
      #teaTaste__gourmet:checked + ::before{
        font-weight: 600;
        transform: scale(1.2);
        }
      #teaTaste__nature+ ::before{
        grid-area: 2 / 2 / 3 / 3; 
        @include inputBtn;
        content:'Nature';
        background-color: #42994E;
      }
      #teaTaste__nature:checked + ::before{
        font-weight: 600;
        transform: scale(1.2);
        }
      #tea__all+ ::before{
        grid-area: 2 / 3 / 3 / 4;
        @include inputBtn;
        content:'Tous';
        background-color: #B3C5F2;
      }
      #tea__all:checked + ::before{
        font-weight: 600;
        transform: scale(1.2);
        }
    }
    
  }
  .teaColorChoice{
    @include block;
    h2{
      margin-top: 90px;
    }
    form{
      margin-top: 30px;
      display: grid;
      justify-content: center;
      align-items: center;
      grid-template-columns: repeat(3, 130px);
      grid-template-rows: repeat(2, 50px);
      grid-column-gap: 30px;
      grid-row-gap: 30px; 
      width: 60%;
      height: 150px;
      input{
        display: none;
      }
      #teaColorChoice__black+ ::before{
        grid-area: 1 / 1 / 2 / 2;
        @include inputBtn;
        content:'Noir';
        background-color: #313634;
      }
      #teaColorChoice__black:checked + ::before{
        font-weight: 600;
        transform: scale(1.1);
        }
      #teaColorChoice__blue+ ::before{
        grid-area: 1 / 2 / 2 / 3;
        @include inputBtn;
        content:'Bleu';
        background-color: #45A0F5;
      }
      #teaColorChoice__blue:checked + ::before{
        font-weight: 600;
        transform: scale(1.1);
        }
      #teaColorChoice__white+ ::before{
        grid-area: 1 / 3 / 2 / 4;
        @include inputBtn;
        content:'Blanc';
        background-color: #f1f1f1;
        color:black;
      }
      #teaColorChoice__white:checked + ::before{
        font-weight: 600;
        transform: scale(1.1);
        }
      #teaColorChoice__puerh+ ::before{
        grid-area: 2 / 1 / 3 / 2;
        @include inputBtn;
        content:'Puerh';
        background-color: #9E5F18;
      }
      #teaColorChoice__puerh:checked + ::before{
        font-weight: 600;
        transform: scale(1.1);
        }
      #teaColorChoice__green+ ::before{
        grid-area: 2 / 2 / 3 / 3;
        @include inputBtn;
        content:'Vert';
        background-color: #147533;
      }
      #teaColorChoice__green:checked + ::before{
        font-weight: 600;
        transform: scale(1.1);
        }  
      #color__all+ ::before{
        grid-area: 2 / 3 / 3 / 4;
        @include inputBtn;
        content:'Tous les thés';
        background-color: $secondaryColor;
      }
      #color__all:checked + ::before{
        font-weight: 600;
        transform: scale(1.1);
        }
    }
  }
  .infusionFamily{
    @include block;
    h2{
      margin-top: 100px;
    }
    form{
      margin-top: 30px;
      display: flex;
      flex-direction: row;
      input{
        display: none;
      }
      #infusionFamily__infusion+ ::before{
        @include inputBtn;
        content:'Infusions';
        background-color: #F2525D;
      }
      #infusionFamily__infusion:checked + ::before{
        font-weight: 600;
        transform: scale(1.1);
        }
      #infusionFamily__rooibos+ ::before{
        @include inputBtn;
        content:'Rooibos';
        background-color: #F5540F;
      }
      #infusionFamily__rooibos:checked + ::before{
        font-weight: 600;
        transform: scale(1.1);
        }
      #infusionFamily__wellness+ ::before{
        @include inputBtn;
        content:'Bien-être';
        background-color: #F5B36C;
      }
      #infusionFamily__wellness:checked + ::before{
        font-weight: 600;
        transform: scale(1.1);
        }
    }
  }
  .infusionTaste{
    @include block;
    h2{
      margin-top: 100px;
    }
    form{
      margin-top: 30px;
      display: grid;
      justify-content: center;
      grid-template-columns: repeat(3, 130px);
      grid-template-rows: repeat(2, 50px);
      grid-column-gap: 30px;
      grid-row-gap: 30px; 
      width: 60%;
      height: 150px;
      input{
        display: none;
      }
      #infusionTaste__gourmet+ ::before{
        grid-area: 1 / 1 / 2 / 2;
        @include inputBtn;
        content:'Gourmand';
        background-color: #F25C57;
      }
      #infusionTaste__gourmet:checked + ::before{
        font-weight: 600;
        transform: scale(1.1);
        }
      #infusionTaste__spicy+ ::before{
        grid-area: 1 / 2 / 2 / 3;
        @include inputBtn;
        content:'Epicé';
        background-color: #F2843A;
      }
      #infusionTaste__spicy:checked + ::before{
        font-weight: 600;
        transform: scale(1.1);
        }
      #infusionTaste__floral+ ::before{
        grid-area: 1 / 3 / 2 / 4;
        @include inputBtn;
        content:'Florale';
        background-color: #F28DDC;
      }
      #infusionTaste__floral:checked + ::before{
        font-weight: 600;
        transform: scale(1.1);
        }
      #infusionTaste__fruitty+ ::before{
        grid-area: 2 / 1 / 3 / 2;
        @include inputBtn;
        content:'Fruitté';
        background-color: #B39D6F;
      }
      #infusionTaste__fruitty:checked + ::before{
        font-weight: 600;
        transform: scale(1.1);
        }
      #infusionTaste__nature+ ::before{
        grid-area: 2 / 2 / 3 / 3; 
        @include inputBtn;
        content:'Nature';
        background-color: #42994E;
      }
      #infusionTaste__nature:checked + ::before{
        font-weight: 600;
        transform: scale(1.1);
        }
      #inf__all+ ::before{
        grid-area: 2 / 3 / 3 / 4; 
        @include inputBtn;
        content:'Toutes';
        background-color: #42994E;
      }
      #inf__all:checked + ::before{
        font-weight: 600;
        transform: scale(1.1);
        }
    }
  }
  .rooibosTaste{
    @include block;
    h2{
      margin-top: 100px;
    }
    form{
      margin-top: 30px;
      display: grid;
      justify-content: center;
      grid-template-columns: repeat(5, 130px);
      grid-template-rows: 70px;
      grid-column-gap: 30px;
      width: 60%;
      height: 150px;
      input{
        display: none;
      }
      #rooibosTaste__gourmet+ ::before{
        grid-area: 1 / 1 / 2 / 2;
        @include inputBtn;
        content:'Gourmand';
        background-color: #F25C57;
      }
      #rooibosTaste__gourmet:checked + ::before{
        font-weight: 600;
        transform: scale(1.1);
        }
      #rooibosTaste__nature+ ::before{
        grid-area: 1 / 2 / 2 / 3;
        @include inputBtn;
        content:'Nature';
        background-color: #42994E;
      }
      #rooibosTaste__nature:checked + ::before{
        font-weight: 600;
        transform: scale(1.1);
        }
      #rooibosTaste__spicy+ ::before{
        grid-area: 1 / 2 / 2 / 4;
        @include inputBtn;
        content:'Epicé';
        background-color: #F2843A;
      }
      #rooibosTaste__spicy:checked + ::before{
        font-weight: 600;
        transform: scale(1.1);
        }
      #rooibosTaste__fruitty+ ::before{
        grid-area: 1 / 3 / 2 / 5;
        @include inputBtn;
        content:'Fruitté';
        background-color: #B39D6F;
      }
      #rooibosTaste__fruitty:checked + ::before{
        font-weight: 600;
        transform: scale(1.1);
        }
      #roob__all+ ::before{
        grid-area: 1 / 4 / 2 / 6;
        @include inputBtn;
        content:'Tous';
        background-color: #F25C57;
      }
      #roob__all:checked + ::before{
        font-weight: 600;
        transform: scale(1.1);
        }
    }
  }
  .wellnessTaste{
    @include block;
    h2{
      margin-top: 20px;
    }
    form{
      padding-top: 30px;
      display: grid;
      justify-content: center;
      align-items: center;
      align-content: center;
      grid-template-columns: repeat(3, 130px);
      grid-template-rows: repeat(3, 70px);
      grid-column-gap: 30px;
      grid-row-gap: 30px; 
      width: 60%;
      height: auto;
      input{
        display: none;
      }
      #wellnessTaste__breath+ ::before{
        grid-area: 1 / 1 / 2 / 2;
        @include inputBtn;
        content:'Respirer';
        background-color: #B39D6F;
        height: 70px;
        text-align: center;
      }
      #wellnessTaste__breath:checked + ::before{
        font-weight: 600;
        transform: scale(1.1);
        }
      #wellnessTaste__lightLegs+ ::before{
        grid-area: 1 / 2 / 2 / 3;
        @include inputBtn;
        content:'Jambes légères';
        background-color: #F2843A;
        height: 70px;
        text-align: center;
      }
      #wellnessTaste__lightLegs:checked + ::before{
        font-weight: 600;
        transform: scale(1.1);
        }
      #wellnessTaste__toSleep+ ::before{
        grid-area: 1 / 3 / 2 / 4;
        @include inputBtn;
        content:'Pour dormir';
        background-color: #F28DDC;
        height: 70px;
        text-align: center;
      }
      #wellnessTaste__toSleep:checked + ::before{
        font-weight: 600;
        transform: scale(1.1);
        }
      #wellnessTaste__breastfeeding+ ::before{
        grid-area: 2 / 1 / 3 / 2;
        @include inputBtn;
        content:'Alaitement';
        background-color: #F25C57;
        height: 70px;
        text-align: center;
      }
      #wellnessTaste__breastfeeding:checked + ::before{
        font-weight: 600;
        transform: scale(1.1);
        }
      #wellnessTaste__looseWeight+ ::before{
        grid-area: 2 / 2 / 3 / 3; 
        @include inputBtn;
        content:'Perte de poids';
        background-color: #42994E;
        height: 70px;
        text-align: center;
      }
      #wellnessTaste__looseWeight:checked + ::before{
        font-weight: 600;
        transform: scale(1.1);
        }
      #wellnessTaste__digestive+ ::before{
        grid-area: 2 / 3 / 3 / 4;
        @include inputBtn;
        content:'Digestif';
        background-color: #B3C5F2;
        height: 70px;
        text-align: center;
      }
      #wellnessTaste__digestive:checked + ::before{
        font-weight: 600;
        transform: scale(1.1);
        }
      #well__all+ ::before{
        grid-area: 3 / 1 / 4 / 4;
        @include inputBtn;
        content:'Toutes les infusions bien-etre';
        background-color: #B3C5F2;
        width: 400px;
        height: 70px;
        text-align: center;
      }
      #well__all:checked + ::before{
        font-weight: 600;
        transform: scale(1.1);
        }
    }
  }

  }
  .allTastes{
    @include block;
    width: 980px;
    height: 620px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 40px;
    #allTastesIcons{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      width: 90%;
      height: 60%;
      overflow-y: scroll;
      padding: 0 10% 0 10%;
    }
    h1{
      padding: 0 20%;
      text-align: center;
    }
    figure{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin : 5px 10px;
      img{
        width: 40px;
        height: 40px;
        cursor: pointer;
        &:hover{
          transform: scale(1.1);
        }
        &:focus{
          transform: scale(1.1);
        }
      }
      figcaption{
        text-align: center;
        font-size: 16px;
        text-transform: capitalize;
      }
    }
  }
  .app__results{
    width: 980px;
    height: 620px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 40px;




    .reloadText{
      color: $secondaryColor;
    }

    .article{
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      margin : 40px 20px 80px 20px;

      .article-left{
        overflow: hidden;
        width: 200px;
        img{
          border-radius: 5px;
          width: 200px;
          transition: all 300ms ease-out;
          &:hover{
            transform: scale(1.1);
            
          }
        }
      }
      .article-right{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin: 10px 0 10px 20px;
        .top{
          h4{
            font-size: 20px;
            text-transform: capitalize;
            display: block;
            margin: 0;
          }
          p{
            font-size: 16px;
            width:380px;
            text-align: justify;
            display: block;
          }
        }
        .bottom{
          display: flex;
          .bottom-left{
            display: flex;
            flex-direction: column;
            p{
              margin-left: 10px;
              font-size: 14px;
            }
            button {
              width: 130px;
              height: 50px;
              position: relative;
              background: linear-gradient(0deg, rgba(34, 61, 125, 0.8)  0%, rgba(34, 61, 125) 100%);
              line-height: 48px;
              padding: 0;
              border: none;
              border-radius: 5px;
              }
            button span {
              position: relative;
              display: block;
              width: 100%;
              height: 100%;
              color: #f1f1f1;
              font-size: $contentFontSize;
              font-family:'Proxima', sans-serif;
            }
            button:before,
            button:after {
              position: absolute;
              content: "";
              right: 0;
              bottom: 0;
              background: rgba(34, 61, 125);
              box-shadow:
                -7px -7px 20px 0px rgba(255,255,255,.9),
                -4px -4px 5px 0px rgba(255,255,255,.9),
                7px 7px 20px 0px rgba(0,0,0,.2),
                4px 4px 5px 0px rgba(0,0,0,.3);
              transition: all 0.3s ease;
            }
            button:before{
                height: 0%;
                width: 2px;
            }
            button:after {
              width: 0%;
              height: 2px;
            }
            button:hover{
              color: rgba(34, 61, 125);
              background: transparent;
            }
            button:hover:before {
              height: 100%;
            }
            button:hover:after {
              width: 100%;
            }
            button span:hover{
              color: rgba(34, 61, 125)
            }
            button span:before,
            button span:after {
              position: absolute;
              content: "";
              left: 0;
              top: 0;
              background: rgba(34, 61, 125);
              box-shadow:
                -7px -7px 20px 0px rgba(255,255,255,.9),
                -4px -4px 5px 0px rgba(255,255,255,.9),
                7px 7px 20px 0px rgba(0,0,0,.2),
                4px 4px 5px 0px rgba(0,0,0,.3);
              transition: all 0.3s ease;
            }
            button span:before {
              width: 2px;
              height: 0%;
            }
            button span:after {
              height: 2px;
              width: 0%;
            }
            button span:hover:before {
              height: 100%;
            }
            button span:hover:after {
              width: 100%;
            }
     
          }
          .bottom-right{
            padding-left: 20px;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            img{
              width: 35px;
              position: relative;
            }
            .tasteLine{
              font-size: 14px;
              display: flex;
              align-items: center;
              justify-content: flex-start;
              width: 100%;
              text-transform: capitalize;
            }
              // &::after{
              //   content: '';
              //   width: 50px;
              //   height: 10px;
              //   border: 1px solid rgba(34, 61, 125);
              //   background-color: #003C00;
              //   display: block;
              // }
              // &:hover:after{
              //   width: 50px;
              // }
          }
        }
      }
    }
  }
}

.slider{
  width: 80%;
  height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-color : $fontColor; 
  scrollbar-width: thin;
}

.progressBlock{
  display: none;
  flex-direction: row;
  position: absolute;
  top : 10px;
  left: 50%;
  transform: translateX(-50%);
  p{
    display: block;
    font-size: 16px;
    color : #f1f1f1;
    text-align: center;
  }
  .progressBlock__Progress{
    min-width: 120px;
    width: auto;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;

  }
  .progressBlock__title{
    color: $primaryColor;
    font-weight: 700;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.btnNext, .btnShowResults {
  width: 140px;
  height: 50px;
  background-color : transparent;
  border-radius: 5px;
  position: absolute;
  bottom: 2vh;
  left: 42%;
  border : none;
  background-color: #007500;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 200ms ease-out;
  span{
    color: white;
    align-content: center;
    font-family: 'Proxima';
    font-size: 18px;
  }
  img{
    padding-left: 10px;
    width: 35px;
  }
}
.btnNext:hover{
  transform: scale(1.1);
}

.btnPrevious {
  width: 40px;
  height: 40px;
  background-color : transparent;
  border-radius: 50%;
  position: absolute;
  bottom: 2vh;
  left: 1vw;
  border : none;
  img{
    margin-top: 5px;
    margin-left: -5px;
    width: 30px;
  }
}
.btnPrevious:hover{
  transition: 200ms;
  transform: scale(1.5);
  background-color :$secondaryColor;
}

.btnReload{
  width: 40px;
  height: 40px;
  background-color : transparent;
  border-radius: 50%;
  position: absolute;
  top: 2vh;
  right: 1vw;
  border : none;
  transition : all 0.4s ease-out;

  img{
    margin-right: 10px;
    width: 30px;
  }
}
.btnReload:hover{
  transform: scale(1.1);
}


.btnReload--result{
  width: 160px;
  height: 40px;
  background-color : transparent;
  border-radius: 5px;
  position: absolute;
  top: 2vh;
  right: 20px;
  border : none;
  transition : all 0.4s ease-out;
  display: flex;
  align-items: center;
  p{
    color: #F25C57;
    font-size: 18px;
    display: inline-block;
  }
}


@keyframes btnAnim {

  
}